<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag fingerprinted_asset('app.build') %>
    <%= stylesheet_link_tag fingerprinted_asset('app.build'), media: 'all' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
